Located in {{rental.city.name}}, this {{rental.bedrooms}} bedrrom {{rental.type}} is availabe by arragememnt through {{rental.owner}}.
<br>
<p>
  <img src={{rental.image}} alt={{rental.type}}>
</p>
<button {{action 'delete' rental}}>Delete</button>
<br>
{{#link-to 'index'}}Home{{/link-to}}
